.navbar {
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}

.harman-logo img {
    width: 210px;
    height: auto;
    -webkit-transition: .9s ease all;
    transition: .9s ease all;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    outline: none;
}

.nav-item.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: solid 2px white;
}

.dropdown-toggle::after {
    display: none;
}

.submenu-downarrow {
    font-size: 16px;
    color: #fff;
    padding-left: 5px;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.pagescroll-logo-size {
    width: 120px !important;
    height: auto !important;
}

/* HAMBURGER BAR START */
button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* HAMBURGER BAR END */



/* SUBMENU STYLES START */
.dropdown-menu {
    background: rgba(21, 88, 154, 0.98);
    border: none;
    left: 0;
    right: 0;
    min-width: inherit;
    border-radius: 0 !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.dropdown-menu.show:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0px;
    right: 0px;
    border-top: solid 2px rgba(255, 255, 255, 0.7);
}

.dropdown-item {
    font-size: 12px;
    color: #2A9FD9;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/* SUBMENU STYLES END */

.navbar-bgcolor {
    background: -webkit-gradient(linear, left top, right top, color-stop(39.58%, #0c4584), color-stop(69.79%, rgba(12, 69, 132, 0.79)), to(rgba(0, 114, 164, 0.09)));
    background: linear-gradient(90deg, #0c4584 39.58%, rgba(12, 69, 132, 0.79) 69.79%, rgba(0, 114, 164, 0.09) 100%);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4)
}

.navbar.active {
    background: -webkit-gradient(linear, left top, right top, color-stop(39.58%, #0c4584), color-stop(69.79%, rgba(12, 69, 132, 0.79)), to(rgba(0, 114, 164, 0.09)));
    background: linear-gradient(90deg, #0c4584 39.58%, rgba(12, 69, 132, 0.79) 69.79%, rgba(0, 114, 164, 0.09) 100%);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4)
}



@media (max-width: 1199.98px) {
    .nav-item.active:after {
        border-bottom: none;
    }

    .dropdown-menu.show:before {
        border-top: none;
    }

    .navbar-nav .nav-item {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dropdown-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}